/Users/James/Desktop/GUV_Analyzer/lib/jfxtras-labs-0.1.jar
/Users/James/Desktop/GUV_Analyzer/lib/fxplugins.dylib
/Users/James/Desktop/GUV_Analyzer/lib/libdecora-sse.dylib
/Users/James/Desktop/GUV_Analyzer/lib/libglib-2.0.0.dylib
/Users/James/Desktop/GUV_Analyzer/lib/libgstplugins-lite.dylib
/Users/James/Desktop/GUV_Analyzer/lib/libgstreamer-lite.dylib
/Users/James/Desktop/GUV_Analyzer/lib/libjavafx-font.dylib
/Users/James/Desktop/GUV_Analyzer/lib/libjavafx-iio.dylib
/Users/James/Desktop/GUV_Analyzer/lib/libjfxmedia.dylib
/Users/James/Desktop/GUV_Analyzer/lib/libmat.dylib
/Users/James/Desktop/GUV_Analyzer/lib/libprism-es2.dylib
/Users/James/Desktop/GUV_Analyzer/lib/libWebPaneJava.dylib
/Users/James/Desktop/GUV_Analyzer/lib/jfxrt.jar
/Users/James/Desktop/GUV_Analyzer/src/main/java/TiffDecoder.java
/Users/James/Desktop/GUV_Analyzer/src/main/java/Reader.java
/Users/James/Desktop/GUV_Analyzer/src/main/java/RandomAccessStream.java
/Users/James/Desktop/GUV_Analyzer/src/main/java/BitBuffer.java
/Users/James/Desktop/GUV_Analyzer/src/main/java/CannyDeriche.java
/Users/James/Desktop/GUV_Analyzer/src/main/java/FileInfo.java
/Users/James/Desktop/GUV_Analyzer/target